---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Form Container -->
  <div class="max-w-2xl mx-auto p-6 bg-white shadow-lg rounded-lg border mb-16">
    <script is:inline charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script is:inline>
      hbspt.forms.create({
        portalId: '48173210',
        formId: '6cc6def1-a379-4155-afd6-829bdaa9aa9d',
      });
    </script>
  </div>
</Layout>
