---
import Image from 'astro/components/Image.astro';
import logo from '~/assets/images/logo_wordmark-blue-black.svg';
---

<div class="flex items-center space-x-4">
  <!-- Wrapping container with flex and spacing -->
  <span class="self-center text-2xl md:text-xl whitespace-nowrap">
    <Image src={logo} alt="Transcension AI" class="max-h-8 md:max-h-6" />
    <!-- Control logo height -->
  </span>
</div>
